<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtwwXhgPk_WpaS8Pu1joPovte0OrBCP6g</string>
	<key>GCM_SENDER_ID</key>
	<string>279438736618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cmenu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cmenu-8af16</string>
	<key>STORAGE_BUCKET</key>
	<string>cmenu-8af16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279438736618:ios:2e2b055175492b9453eb93</string>
</dict>
</plist>